body {
  padding: 0;
  margin: 10px 0;
  background: #f2f2f2 url('images/beige.png');
}

.link-box {
    display: none;
    margin-top: 10%;
    width: 600px;
    height: 500px;
    background-color: aliceblue;
    margin-left: 30%;
    z-index: 67;
    position: fixed;
}

.url-link {
  margin-top: 20%;
  margin-left: 12%;
}

.close {
  cursor: wait;
  font-size: 36px;
  float: right;
  margin: 25px;
}

input {
  width: 63%;
}

.setDataWrap {
  text-align: center;
  margin-bottom: 10px;
}

.form-wrap.form-builder .empty .frmb {
	height: 500px;
	width: 90%;
	margin-left: 45px;
}

.form-wrap.form-builder .stage-wrap {
	margin-left: 100px;
	position: relative;
	float: left;
	width: 50%;
}

.form-wrap.form-builder .frmb-control {
    margin-left: -97px;
    border-radius: 5px;
    width: 75%;
}

.save-class {
	width: 20px;
}

.form-actions {
	float: none !important;
	margin-top: 15px !important;
	width: 132px;
    margin-left: -96px;
}

.get-data {
	display: none !important;
}

#publish {
	position: absolute;
    margin-left: 76.5%;
    top: 61px;
    height: 35px;
    background-color: #2185d0;
    color: #fff;
    font-size: 1rem;
    width: 147px;
    border-radius: 4px;
    z-index: 10;
    outline: none;
}

.save-template {
	display: none !important;
}

.clear-all {
	border-radius: 4px !important;
	background-color: #eb8239;
    color: #fff !important;
    font-size: 1rem !important;
	width: 100%;
	outline: none;
}