body {background-color: #FAFAFA;
font-family: 'Merriweather Sans', sans-serif;}

h3 {
text-align: left;
}

#cont {  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
border-radius: 5px;
width: auto;
padding:2%;
margin:2%;
overflow:auto;
}

.col-sm-4{box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
border-radius: 5px;
padding:2%;
margin-top: 1.5%;
margin-left: 4%;
width: 350px;
overflow:auto;
}

.progress {
	display: inline-block;
	width: 100%;
	color: #CAE6EB;
	background: #F1F8F9;
	/*float:left;*/
}
.progress-bar[aria-valuenow<="3"]{
  min-width: 3%;
}

.progress-bar[aria-valuenow="0"] {
  color: $text-color;
  min-width: 3%;
}

#anstxt {
	float: right;
	display: inline-block;
	margin-left: :10%;
}

#ans {
	float: left;
	display: inline-block;
	margin-right: :10%;
	margin-top: 1%;
}

.topnav {
    overflow: hidden;
    text-align: center;
    margin-top: 2%;
}

.topnav a {
    color: #3087E5;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 28px;

}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 12px; /* Place the button at the bottom of the page */
    right: 12px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #3087E5; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
}
